      <script type="text/javascript" src="/javascripts/jquery-1.12.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYs8Ygf_Z4BgGTiVQ9tupX0sJOHyFSFBc&libraries=places,weather,geometry,visualization"></script>
      <script type="text/javascript" src="/javascripts/myMap.js"></script>
    </body>
</html>
