<% include partials/header %>

<div id="banner" class="container-fluid">
<img src="https://hd.unsplash.com/photo-1444526255837-566d42bd8a74" id="bannerImage" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
  <div id="head">
    <h1>Welcome to your personal Map App</h1>
    <h4>Build a map with every location you have visited</h4>
    <a href="/register">Sign Up</a>
  </div>

</div>


<% include partials/footer %>
