<% include ../partials/header %>
<% include ../partials/newDestinationMap %>

<div class="container">
  <header class="page-header">
    <h1 id="inlineHeader">Add New Destination</h1>
    <p id="inlineHeader">
      Search map for a destination
    </p>
  </header>
</div>



<div class="container">
  <div class="col-md-12">
      <div class="thumbnail">
        <div id="map"></div>
      </div>
      <a href="/user/<%=user._id%>">Go Back</a>
    </div>

    </div>
    <input id="autocompleteSearch" class="form-control" type="text" name="name" placeholder="Search">'
    <div id="formSpace">
    </div>

    <input id="userID" value="<%=user._id%>" style="display: none" />


<% include ../partials/footer %>
