<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">All Destinations</li>
                <li class="list-group-item">Vistied Destinations</li>
                <li class="list-group-item">Destination Watchlist</li>
            </div>
            <a class="btn btn-success" href="/<%= currentUser._id %>/new">Add New Location</a>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
              <div id="map"></div>
            </div>
            <div class="well">
                <div class="text-right">
                    <h4>Your Destinations</h4>
                </div>
                <hr>
                <% user.destinations.forEach(function(destination){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= destination.name %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= destination.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<input id="userID" value="<%=user._id%>" style="display: none" />


<% include ../partials/footer %>
